body {
    padding: 5px;
    padding-bottom: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333;
    background: #efeee7;
}

main {
    font-size: 18px;
}

h1, h2, h3 {
    color: rgb(58, 118, 141)
}

h4 {
    color: rgb(66, 88, 100);
}

a img {
    width: 160px;
    height: 130px;
}

section {
    padding: 40px;
}

footer {
    padding: 25px;
    text-align: center;
    color: white;
    background-color: black;
}

.navbar-default .navbar-brand {
    color: white;
    background-color: rgb(58, 118, 141);
}

.summary-img {
    float: left;
    width: 300px;
    height: 200px;
    margin-right: 20px;
}

.box {
    padding: 25px;
    background-color: white;
}

.selected {
    padding: 5px;
    border: 3px solid blue;
}

.viz-img {
    width: 600px;
    height: 400px;
    margin-right: 20px;
}

.bg-dark {
    background-color: #e7e7e7;
    @include media-breakpoint-up(sm) {
        background-color: rgb(58, 118, 141);
    }
}
 @media (max-width: 767px) {
    .navbar {
        background-color: rgb(58,118,141);
    }
    .navbar-default .navbar-nav li a {
        color: white;
    }
    .navbar-default .navbar-nav .dropdown-menu li a {
        color: black;
    }
}